<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bishe.renbinbin1.secret_master">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/secret"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.robot.ChattingRobotActivity" />
        <activity android:name=".module.memo.MemoActivity" />
        <activity android:name=".module.memo.MemoDetailActivity" />
        <activity android:name=".module.weather.WeatherActivity" />
        <activity
            android:name=".module.weather.city.CityActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>